@model SmsWebSender.ViewModels.Sms.SmsViewModel

@section Scripts{
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/js/app-sms.js"></script>
    <script src="~/js/smsController.js"></script>
}

<h1 class="page-header text-center">Senda skilaboð</h1>

<div ng-app="app-sms" ng-controller="smsController as vm" ng-init="vm.initData('@Model.SenderName')">
    <div class="row">
        <button class="btn btn-info" ng-click="vm.fetchToday()">Sækja í dag</button>
        <button class="btn btn-info" ng-click="vm.fetchTomorrow()">Sækja á morgun</button>
        <button class="btn btn-info" ng-click="vm.fetchAfter3Days()">Sækja eftir 3 daga</button>
        <span ng-show="vm.isFetching"><i class="fa fa-spinner fa-spin"></i> Næ í gögn</span>
    </div>

    <div class="text-danger text-center" ng-show="vm.errorMessage">{{vm.errorMessage}}</div>
    <div class="row" style="padding-top: 30px;">
        <div>
            <table class="table table-borderless table-striped"  ng-repeat="block in vm.messageLinesBlocks">
                <thead>
                    <tr>
                        <td colspan="4" class="h4">{{block.EmployeeName}}</td>
                        <td class="pull-right">Á að senda</td>
                    </tr>
                </thead>
                <tbody>
                <tr class="text-center" ng-repeat="messageLine in block.MessageLines | orderBy:'AppointmentStartTime'">
                    <td class="col-sm-2 text-left">{{messageLine.Name}}</td>
                    <td class="col-sm-2"><input class="form-control" type="text" ng-model="messageLine.Number"/></td>
                    <td class="col-sm-1">{{messageLine.AppointmentStartTime | date:'HH:mm'}}</td>
                    <td class="col-sm-5"><textarea class="form-control" row="5" style="width: 100%;" ng-model="messageLine.Body"></textarea></td>
                    <td class="col-sm-1 text-right"><input type="checkbox" ng-disabled="!vm.validGsmNumber(messageLine.Number)" ng-model="messageLine.ShouldBeSentTo" ng-checked="messageLine.ShouldBeSentTo && vm.validGsmNumber(messageLine.Number)"/></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-success pull-right" ng-click="vm.sendSms()" ng-disabled="senderNameForm.$invalid || vm.messageLinesBlocks.length === 0">Senda</button>
    </div>
    <div ng-show="vm.isSending" class="pull-right"><i class="fa fa-spinner fa-spin"></i> Sendi gögn</div>
    <div class="pull-right text-success" ng-class="{fade: vm.startFade, fadeIn: vm.fadeIn}">{{vm.sendingSuccessMessage}}</div>
</div>